In [10]:
import pandas as pd

In [11]:
import requests

url = "https://www.insee.fr/fr/statistiques/fichier/6800675/v_commune_2023.csv"
url_backup = "https://minio.lab.sspcloud.fr/lgaliana/data/python-ENSAE/cog_2023.csv"

try:
    response = requests.get(url)
except requests.exceptions.RequestException as e:
    print(f"Error : {e}")
    response = requests.get(url_backup)

# Only download if one of the request succeeded
if response.status_code == 200:
    with open("cog_2023.csv", "wb") as file:
        file.write(response.content)


df = pd.read_csv("cog_2023.csv")

df

,TYPECOM,COM,REG,DEP,CTCD,ARR,TNCC,NCC,NCCENR,LIBELLE,CAN,COMPARENT
0,COM,01001,84.0,01,01D,012,5,ABERGEMENT CLEMENCIAT,Abergement-Clémenciat,L'Abergement-Clémenciat,0108,NaN
1,COM,01002,84.0,01,01D,011,5,ABERGEMENT DE VAREY,Abergement-de-Varey,L'Abergement-de-Varey,0101,NaN
2,COM,01004,84.0,01,01D,011,1,AMBERIEU EN BUGEY,Ambérieu-en-Bugey,Ambérieu-en-Bugey,0101,NaN
3,COM,01005,84.0,01,01D,012,1,AMBERIEUX EN DOMBES,Ambérieux-en-Dombes,Ambérieux-en-Dombes,0122,NaN
4,COM,01006,84.0,01,01D,011,1,AMBLEON,Ambléon,Ambléon,0104,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
37558,COM,97613,6.0,976,976D,NaN,0,M TSANGAMOUJI,M'Tsangamouji,M'Tsangamouji,97613,NaN
37559,COM,97614,6.0,976,976D,NaN,1,OUANGANI,Ouangani,Ouangani,97610,NaN
37560,COM,97615,6.0,976,976D,NaN,0,PAMANDZI,Pamandzi,Pamandzi,97611,NaN
37561,COM,97616,6.0,976,976D,NaN,0,SADA,Sada,Sada,97612,NaN
37562,COM,97617,6.0,976,976D,NaN,0,TSINGONI,Tsingoni,Tsingoni,97613,NaN

In [ ]:
#exo1
#1

url = "https://koumoul.com/s/data-fair/api/v1/datasets/igt-pouvoir-de-rechauffement-global/convert"

emissions = pd.read_csv(url)

emissions

,INSEE commune,Commune,Agriculture,Autres transports,Autres transports international,CO2 biomasse hors-total,Déchets,Energie,Industrie hors-énergie,Résidentiel,Routier,Tertiaire
0,01001,L'ABERGEMENT-CLEMENCIAT,3711.425991,NaN,NaN,432.751835,101.430476,2.354558,6.911213,309.358195,793.156501,367.036172
1,01002,L'ABERGEMENT-DE-VAREY,475.330205,NaN,NaN,140.741660,140.675439,2.354558,6.911213,104.866444,348.997893,112.934207
2,01004,AMBERIEU-EN-BUGEY,499.043526,212.577908,NaN,10313.446515,5314.314445,998.332482,2930.354461,16616.822534,15642.420313,10732.376934
3,01005,AMBERIEUX-EN-DOMBES,1859.160954,NaN,NaN,1144.429311,216.217508,94.182310,276.448534,663.683146,1756.341319,782.404357
4,01006,AMBLEON,448.966808,NaN,NaN,77.033834,48.401549,NaN,NaN,43.714019,398.786800,51.681756
...,...,...,...,...,...,...,...,...,...,...,...,...
35793,95676,VILLERS-EN-ARTHIES,1628.065094,NaN,NaN,165.045396,65.063617,11.772789,34.556067,176.098160,309.627908,235.439109
35794,95678,VILLIERS-ADAM,698.630772,NaN,NaN,1331.126598,111.480954,2.354558,6.911213,1395.529811,18759.370071,403.404815
35795,95680,VILLIERS-LE-BEL,107.564967,NaN,NaN,8367.174532,225.622903,534.484607,1568.845431,22613.830247,12217.122402,13849.512001
35796,95682,VILLIERS-LE-SEC,1090.890170,NaN,NaN,326.748418,108.969749,2.354558,6.911213,67.235487,4663.232127,85.657725
35797,95690,WY-DIT-JOLI-VILLAGE,1495.103542,NaN,NaN,125.236417,97.728612,4.709115,13.822427,117.450851,504.400972,147.867245

In [ ]:
#2
display(emissions.head(10))

display(emissions.tail(15))

display(emissions.sample(10, random_state=42))
# Setting random_state=42 makes the random selection reproducible,
# so you'll always get the same 10 rows every time you run the code. (can use any integer beside 42-just by default-the idea is to fix the generated sample each running)

,INSEE commune,Commune,Agriculture,Autres transports,Autres transports international,CO2 biomasse hors-total,Déchets,Energie,Industrie hors-énergie,Résidentiel,Routier,Tertiaire
0,01001,L'ABERGEMENT-CLEMENCIAT,3711.425991,NaN,NaN,432.751835,101.430476,2.354558,6.911213,309.358195,793.156501,367.036172
1,01002,L'ABERGEMENT-DE-VAREY,475.330205,NaN,NaN,140.741660,140.675439,2.354558,6.911213,104.866444,348.997893,112.934207
2,01004,AMBERIEU-EN-BUGEY,499.043526,212.577908,NaN,10313.446515,5314.314445,998.332482,2930.354461,16616.822534,15642.420313,10732.376934
3,01005,AMBERIEUX-EN-DOMBES,1859.160954,NaN,NaN,1144.429311,216.217508,94.182310,276.448534,663.683146,1756.341319,782.404357
4,01006,AMBLEON,448.966808,NaN,NaN,77.033834,48.401549,NaN,NaN,43.714019,398.786800,51.681756
5,01007,AMBRONAY,4390.996698,132.968268,NaN,3067.245459,6144.186081,122.437003,359.383094,1898.638273,22481.123575,2789.133106
6,01008,AMBUTRIX,489.648726,60.233517,NaN,558.055709,98.388885,2.354558,6.911213,495.393592,3616.168396,356.029873
7,01009,ANDERT-ET-CONDON,676.468367,NaN,NaN,207.181968,149.767083,2.354558,6.911213,141.533662,696.956038,161.266219
8,01010,ANGLEFORT,1070.411510,143.815664,NaN,1286.621447,146.525382,341.410872,175185.892467,448.518801,3199.808360,1206.147643
9,01011,APREMONT,2010.790441,NaN,NaN,249.086914,52.103791,2.354558,6.911213,151.844891,686.153720,188.542701

,INSEE commune,Commune,Agriculture,Autres transports,Autres transports international,CO2 biomasse hors-total,Déchets,Energie,Industrie hors-énergie,Résidentiel,Routier,Tertiaire
35783,95628,VALMONDOIS,646.421867,9.055189,0.201508,633.754921,158.691749,136.564349,400.850374,2272.901317,589.164544,574.241730
35784,95633,VAUDHERLAND,48.361025,NaN,NaN,47.061403,10.314964,2.354558,6.911213,34.490233,439.279632,199.435133
35785,95637,VAUREAL,203.969473,93.811651,5.412508,2876.820106,129.738126,63.573059,186.602760,13963.143585,4982.982966,7515.388640
35786,95641,VEMARS,1510.886844,146.089307,NaN,2382.550523,19.173651,251.937678,739.499829,2791.215196,17783.179831,2654.384495
35787,95651,VETHEUIL,125.928390,175.096168,10.102258,290.066886,114.522546,16.481904,48.378493,1439.077120,1472.779256,414.411115
35788,95652,VIARMES,252.094735,55.168176,NaN,1278.247866,43.526914,40.027482,117.490627,6546.179324,5705.777606,2521.399729
35789,95656,VIENNE-EN-ARTHIES,324.827105,NaN,NaN,98.346155,57.129030,2.354558,6.911213,158.726900,305.819555,206.727023
35790,95658,VIGNY,1289.190261,NaN,NaN,1616.838995,2297.572718,313.156180,919.191376,1424.373138,8539.961119,516.817557
35791,95660,VILLAINES-SOUS-BOIS,447.132894,18.996282,NaN,207.294216,92.966916,11.772789,34.556067,1023.037832,912.992023,336.409947
35792,95675,VILLERON,1335.123315,4.975886,NaN,1625.523404,104.075339,320.219853,939.925016,617.177184,7740.572805,725.467969
35793,95676,VILLERS-EN-ARTHIES,1628.065094,NaN,NaN,165.045396,65.063617,11.772789,34.556067,176.098160,309.627908,235.439109
35794,95678,VILLIERS-ADAM,698.630772,NaN,NaN,1331.126598,111.480954,2.354558,6.911213,1395.529811,18759.370071,403.404815
35795,95680,VILLIERS-LE-BEL,107.564967,NaN,NaN,8367.174532,225.622903,534.484607,1568.845431,22613.830247,12217.122402,13849.512001
35796,95682,VILLIERS-LE-SEC,1090.890170,NaN,NaN,326.748418,108.969749,2.354558,6.911213,67.235487,4663.232127,85.657725
35797,95690,WY-DIT-JOLI-VILLAGE,1495.103542,NaN,NaN,125.236417,97.728612,4.709115,13.822427,117.450851,504.400972,147.867245

,INSEE commune,Commune,Agriculture,Autres transports,Autres transports international,CO2 biomasse hors-total,Déchets,Energie,Industrie hors-énergie,Résidentiel,Routier,Tertiaire
9676,27068,BOIS-ANZERAY,3254.469448,NaN,NaN,155.780361,23.010304,2.354558,6.911213,80.427086,279.994728,83.265051
34369,88127,DEINVILLERS,2115.376991,NaN,NaN,69.088071,8.463560,2.354558,6.911213,39.046472,76.279006,30.626226
17507,46307,SOTURAC,2069.453201,NaN,NaN,480.726896,83.974384,2.354558,6.911213,352.913691,1261.093700,303.869582
18795,50640,VILLIERS-LE-PRE,4205.175579,NaN,NaN,216.625596,25.390680,NaN,NaN,104.414029,749.888119,91.878677
14874,38488,SICCIEU-SAINT-JULIEN-ET-CARISIEU,1161.391759,NaN,NaN,359.407641,131.642281,2.354558,6.911213,240.745412,1055.578229,288.077934
24531,62293,EMBRY,3047.165970,NaN,NaN,155.109647,33.589754,2.354558,6.911213,87.619649,555.390767,121.547833
7528,22035,LES CHAMPS-GERAUX,7608.917991,120.192175,6.934545,727.860796,137.532849,2.354558,6.911213,483.297975,2102.074479,497.676166
4202,12156,MONTPEYROUX,30395.463804,NaN,NaN,760.009913,146.658851,9.418231,27.644853,289.136329,2812.010268,263.194126
34475,88238,HENNEZEL,1672.991586,NaN,NaN,710.349304,54.616410,127.146118,373.205521,234.297658,1443.036663,197.634862
6848,21058,BELAN-SUR-OURCE,4463.849139,NaN,NaN,332.495291,36.631345,16.481904,48.378493,135.417348,545.562017,132.554133

In [19]:
#3
display(emissions.sample(frac=0.05))

,INSEE commune,Commune,Agriculture,Autres transports,Autres transports international,CO2 biomasse hors-total,Déchets,Energie,Industrie hors-énergie,Résidentiel,Routier,Tertiaire
16965,45085,CHATILLON-COLIGNY,3896.990437,496.853176,28.666183,1653.997831,257.741849,84.764079,248.803681,1309.352271,1903.037616,932.664276
31475,78358,MAISONS-LAFFITTE,187.009341,625.523287,28.267776,5810.194302,191.604335,532.130050,1561.934217,27406.923128,10843.442803,12509.485568
15045,39107,CHARCIER,1143.573649,NaN,NaN,176.238838,15.604689,2.354558,6.911213,79.705486,379.573594,56.467103
15211,39288,LAVIGNY,1487.774403,3.117229,NaN,554.164681,49.326685,32.963808,96.756987,232.248725,232.259235,178.493471
13551,35001,ACIGNE,7953.647766,NaN,NaN,7971.831190,51.895250,1492.789608,4381.709264,5767.167734,6001.756451,3006.155456
...,...,...,...,...,...,...,...,...,...,...,...,...
21452,56262,BONO,369.090763,26.179029,NaN,1271.437000,17.438853,21.191020,62.200920,904.374357,2135.551659,1010.186910
30781,76710,TREMAUVILLE,1047.523304,NaN,NaN,75.977195,13.488799,2.354558,6.911213,42.831256,106.871460,48.810547
3709,11089,CENNE-MONESTIES,616.497883,NaN,NaN,196.696562,52.236034,7.063673,20.733640,131.756393,449.367035,189.021236
16969,45089,CHECY,330.363871,163.854662,NaN,8780.442267,72.332826,915.922961,2688.461993,12030.334142,11987.101916,6715.780424
84,01092,CHATILLON-LA-PALUD,718.152763,NaN,NaN,828.300196,208.018435,14.127346,41.467280,673.978123,1213.479199,752.735201

In [ ]:
#4
emissions.head(10).sample(n=100, replace=True)

,INSEE commune,Commune,Agriculture,Autres transports,Autres transports international,CO2 biomasse hors-total,Déchets,Energie,Industrie hors-énergie,Résidentiel,Routier,Tertiaire
0,01001,L'ABERGEMENT-CLEMENCIAT,3711.425991,NaN,NaN,432.751835,101.430476,2.354558,6.911213,309.358195,793.156501,367.036172
3,01005,AMBERIEUX-EN-DOMBES,1859.160954,NaN,NaN,1144.429311,216.217508,94.182310,276.448534,663.683146,1756.341319,782.404357
3,01005,AMBERIEUX-EN-DOMBES,1859.160954,NaN,NaN,1144.429311,216.217508,94.182310,276.448534,663.683146,1756.341319,782.404357
2,01004,AMBERIEU-EN-BUGEY,499.043526,212.577908,NaN,10313.446515,5314.314445,998.332482,2930.354461,16616.822534,15642.420313,10732.376934
7,01009,ANDERT-ET-CONDON,676.468367,NaN,NaN,207.181968,149.767083,2.354558,6.911213,141.533662,696.956038,161.266219
...,...,...,...,...,...,...,...,...,...,...,...,...
6,01008,AMBUTRIX,489.648726,60.233517,NaN,558.055709,98.388885,2.354558,6.911213,495.393592,3616.168396,356.029873
1,01002,L'ABERGEMENT-DE-VAREY,475.330205,NaN,NaN,140.741660,140.675439,2.354558,6.911213,104.866444,348.997893,112.934207
5,01007,AMBRONAY,4390.996698,132.968268,NaN,3067.245459,6144.186081,122.437003,359.383094,1898.638273,22481.123575,2789.133106
6,01008,AMBUTRIX,489.648726,60.233517,NaN,558.055709,98.388885,2.354558,6.911213,495.393592,3616.168396,356.029873
1,01002,L'ABERGEMENT-DE-VAREY,475.330205,NaN,NaN,140.741660,140.675439,2.354558,6.911213,104.866444,348.997893,112.934207

In [24]:
#5
emissions.head(6).sample(n=100, replace=True, weights=[0.5]+[0.1]*5)

,INSEE commune,Commune,Agriculture,Autres transports,Autres transports international,CO2 biomasse hors-total,Déchets,Energie,Industrie hors-énergie,Résidentiel,Routier,Tertiaire
5,01007,AMBRONAY,4390.996698,132.968268,NaN,3067.245459,6144.186081,122.437003,359.383094,1898.638273,22481.123575,2789.133106
5,01007,AMBRONAY,4390.996698,132.968268,NaN,3067.245459,6144.186081,122.437003,359.383094,1898.638273,22481.123575,2789.133106
0,01001,L'ABERGEMENT-CLEMENCIAT,3711.425991,NaN,NaN,432.751835,101.430476,2.354558,6.911213,309.358195,793.156501,367.036172
0,01001,L'ABERGEMENT-CLEMENCIAT,3711.425991,NaN,NaN,432.751835,101.430476,2.354558,6.911213,309.358195,793.156501,367.036172
0,01001,L'ABERGEMENT-CLEMENCIAT,3711.425991,NaN,NaN,432.751835,101.430476,2.354558,6.911213,309.358195,793.156501,367.036172
...,...,...,...,...,...,...,...,...,...,...,...,...
4,01006,AMBLEON,448.966808,NaN,NaN,77.033834,48.401549,NaN,NaN,43.714019,398.786800,51.681756
4,01006,AMBLEON,448.966808,NaN,NaN,77.033834,48.401549,NaN,NaN,43.714019,398.786800,51.681756
0,01001,L'ABERGEMENT-CLEMENCIAT,3711.425991,NaN,NaN,432.751835,101.430476,2.354558,6.911213,309.358195,793.156501,367.036172
5,01007,AMBRONAY,4390.996698,132.968268,NaN,3067.245459,6144.186081,122.437003,359.383094,1898.638273,22481.123575,2789.133106
4,01006,AMBLEON,448.966808,NaN,NaN,77.033834,48.401549,NaN,NaN,43.714019,398.786800,51.681756